body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1{
  font-size: 4rem;
  font-weight: 700;
  
}


h3{
  font-size: 1.5rem;
  font-weight: 200;
}

button{
  background-color: #f94848;
  color: #f0f0f0;
  border: none;
  padding: 15px 50px;
  text-align: center;
  font-size: 1rem;
  border-radius: 40px;
  cursor: pointer;
}