@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1{
  font-size: 4rem;
  font-weight: 700;
  
}


h3{
  font-size: 1.5rem;
  font-weight: 200;
}

button{
  background-color: #f94848;
  color: #f0f0f0;
  border: none;
  padding: 15px 50px;
  text-align: center;
  font-size: 1rem;
  border-radius: 40px;
  cursor: pointer;
  font-family: 'Outfit', sans-serif;
}

@media (min-width: 768px) and (max-width: 1024px){
    body{
      overflow-x: hidden;
    }
    
} 

@media (min-width: 320px) and (max-width: 767px){
    body{
      overflow-x: hidden;
    }
}